<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new_sub</title>
    <link rel="stylesheet" href="../../static/stylesheet.css">
</head>
<body>
    <div class="container">
        <form>
            <h1 style="text-align:center;">Add new subject</h1>
            <label>Name</label>
            <input name="name" type="text">
            <label>Desc</label>
            <input name="desc" type="text" style="padding:30px;">
        </form>
    </div>
</body>
</html>