<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>new_quiz</title>
    <link rel="stylesheet" href="../../static/stylesheet.css">
    <style>
        select{
            padding:12px;
            border:1px solid white;
            border-radius: 4px;
            padding-left:30px;
            padding-right:30px;
            background-color: rgb(40,40,40);
            color:white;
            font-size: 14px;
        }
        .container{
            width:50%;
        }
    </style>
</head>
<body>
    <div class="container">
        <form method="POST">
            <label>Select a Subject</label>
            <select name="subject">
                <option value="">Select a Subject</option>
                {% for sub in subjects %}
                    <option value="{{ sub.name }}" {% if sub.name == selected_subject %}selected{% endif %}>
                        {{ sub.name }}
                    </option>
                {% endfor %}
            </select>
            <button type="submit" class="primary-btn"style="max-width:218px;max-height:64px;">Load Chapters</button>
        </form>
                {% if selected_subject %}
    <form method="POST" action="{{url_for('admin.add_quiz')}}">
        <label>Select a Chapter</label>
        <select name="chapter">
            <option value="">Select a Chapter</option>
            {% for chap in chapters %}
                <option value="{{ chap.c_id }}">{{ chap.name }}</option>
            {% endfor %}
        </select>

        <br><br>

        <label>Date</label>
        <input type="date" name="date" required min="{{today}}">

        <label>Duration (in minutes)</label>
        <input type="text" name="duration" required>

        <label>Total Marks</label>
        <input type="number" name="marks" required>

        <label>Number of Questions</label>
        <input type="number" name="questions" required>

        <label>Remarks</label>
        <input type="text" name="remarks">

        <br><br>
        <button type="submit" class="primary-btn">Submit</button>
    </form>
    {% endif %}
    </div>
</body>
</html>