{% extends "admin/dashboard.html" %}
{% block content %}

<h2>User Details</h2>

<div class="user-info">
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Role:</strong> {{ user.role }}</p>
</div>

    <h3>Student Details</h3>
    <div class="student-info">
        <p><strong>Full Name:</strong> {{ user.Student_details.full_name }}</p>
        <p><strong>Qualification:</strong> {{ user.Student_details.qualification }}</p>
        <p><strong>Date of Birth:</strong> {{ user.Student_details.dob.strftime('%d-%m-%Y') if user.Student_details.dob else 'N/A' }}</p>
        <p><strong>Phone:</strong> {{ user.Student_details.phone if user.Student_details.phone else 'N/A' }}</p>
        
        {% if user.Student_details.pic %}
            <img src="data:image/jpeg;base64,{{ user.student_details.pic | b64encode }}" alt="Profile Picture" width="150">
        {% endif %}
    </div>


<h3>Quiz Scores</h3>
{% if user.scores %}
    <table>
        <thead>
            <tr>
                <th>Quiz</th>
                <th>Score</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for score in user.scores %}
                <tr>
                    <td>{{ score.quiz.chapter.name }}</td>
                    <td>{{ score.total_scored }}/{{ score.quiz.total_marks }}</td>
                    <td>{{ score.timestamp.strftime('%d-%m-%Y %H:%M:%S') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No quiz scores available.</p>
{% endif %}

{% endblock %}