<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>view-sub</title>
    <link rel="stylesheet" href="../../static/stylesheet.css">
</head>
<style>
    .container th{
        margin:20px;
        border:1px solid white;
        padding:10px;
    }
    .container td{
        border:1px solid white;
        padding:10px;
    }
    .btn{
        margin:10px;
        padding:8px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 10%;
    }
</style>
<body>
    <div class="container">
        <table>
            <th>chapter name</th>
            <th>no of Quizzes</th>
            <th>actions</th>
            {% for chap in chapters %}
            <tr>
                <td>{{chap.name}}</td>
                <td>{{chap.Mock.name|length}}</td>
                <td><button class="btn" style="background-color: green;">
                    <a href="{{ url_for('admin.edit_chap', c_id=chap.c_id) }}">Edit</a>
                </button>
                
                <form action="{{ url_for('admin.delete_chapter', id=chap.c_id) }}" method="POST" style="display:inline-block;">
                    <button class="btn" style="margin:15px; background-color:red; color:white; border:none;">Delete</button>
                </form>
            </tr>
            {% endfor %}   
        </table>
    </div>
</body>
</html>